{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="my-4">SUPER WOKE KOKEN</h1>
  {% if message %}
        <p>{{ message }}</p>
    {% endif %}
  {% include 'snippets/form.html' %}

  <br>
  {% if groceries|length < 1 %}
  <p>Er is niets om nu te berekenen.</p>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Ingredienten</th>
        <th>Gram</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for grocery in groceries %}
      <tr>
        <td>{{ grocery.name }}</td>
        <td>{{ grocery.quantity }}</td>
        <td class="text-right"><a class="btn btn-warning btn-sm" href="/update/{{ grocery.id }}" role="button">Aanpassen</a></td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="/delete/{{ grocery.id }}" role="button">Verwijderen</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class "buttons">
    <div style='float: left;'>
      <a class="btn btn-success btn-sm" onclick="CalculateCo2();" role="button">Berekenen</a>
    </div>
    <div style='float: right;'>
      <a class="btn btn-danger btn-sm" href="/deleteall" role="button">Alles Verwijderen</a>
    </div>
  </div>
  <script type="text/javascript" src="../static/js/crud_functions.js"></script>
  <br><br>
  <p id="co2-score"></p>
  {% endif %}
</div>
{% endblock content %}
