{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1 class="my-4">KANKER WOKE KOKEN</h1>

  {% include 'snippets/form.html' %}

  <br>
  {% if groceries|length < 1 %}
  <p>There is nothing to calculate for now.</p>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th>Ingredienten</th>
        <th>Gram</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for grocery in groceries %}
      <tr>
        <td><a href="/update/{{ grocery.id }}">{{ grocery.name }}</a></td>
        <td>{{ grocery.quantity }}</td>
        <td class="text-right"><a class="btn btn-danger btn-sm" href="/delete/{{ grocery.id }}" role="button">Verwijderen</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a class="btn btn-secondary" onclick="CalculateCo2();" role="button">Berekenen</a>
  <script type="text/javascript" src="../static/js/calculate.js"></script>
  <br><br>
  <p id="co2-score"></p>
  {% endif %}
</div>
{% endblock content %}
